{% extends 'Layout.html' %}

{% block content %}
  #: Description
  <div class="alert alert-dark bg-white">
    <h4 class="alert-heading">{{ title }}</h4>
    <div class="mb-0">{{ description|safe }}</div>
  </div>
  #:endfold

  #: Products
  <div class="row">
    {% for p in product_list %}
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              
            </div>
            <div class="font-weight-bold text-center text-truncate mt-3 mb-3">{{ p.title }}</div>
            <div class="font-weight-bold text-center text-danger mb-3 tugrik">{{ p.price }}</div>
            <div class="mb-3">
              {{ p.description }}
            </div>
            <div>
              <input data-toggle="touchspin" value="0" class="form-control text-center" name="product_{{ p.id }}">
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  #:endfold

{% endblock %}


{% block bottom %}
  #: javascript
  <script>
    let ready_to_continue = function() {
      let items = $('input[data-toggle=touchspin]')
      for (let i = 0; i < items.length; i++) {
        if (items[i].value !== '0') {
          return true
        }
      }
      return false
    }

    $(function() {
      $('input[data-toggle=touchspin]').change(function() {
        $('[data-selector=continue]').prop('disabled', ! ready_to_continue())
      })
      $('form').on('submit', function(e) {
        if (! ready_to_continue()) {
          e.preventDefault()
        }
      })
    })
  </script>
  #:endfold
{% endblock %}
